<template>
    <div class="container">
        <div class="d-flex">
            <table class="table table-bordered">
                <tr>
                    <th colspan="7">League Table</th>
                </tr>
                <tr>
                    <th>Teams</th>
                    <th>Pts</th>
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GD</th>
                </tr>
                <tr v-for="team in teams">
                    <th>{{ team.name }}</th>
                    <th>{{ team.points}}</th>
                    <th>{{ team.games }}</th>
                    <th>{{ team.wins}}</th>
                    <th>{{ team.draws}}</th>
                    <th>{{ team.defeats }}</th>
                    <th> {{ team.goals }}</th>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <th colspan="4">Match results</th>
                </tr>
                <tr v-for="result in matchResults">
                    <td>{{result[0].name}}</td>
                    <td>{{result[0].score}}</td>
                    <td>{{result[1].score}}</td>
                    <td>{{result[1].name}}</td>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary" v-show="week < 8" @click="fetch()">Next week</button>
        
    </div>
</template>

<script>
    
    export default {
        name: "League.vue",
        created() {
            this.fetch();
        },
        
        data () {
            return {
                teams: [],
                matchResults: [],
                week: 1
            }
        },
        methods: {
            fetch() {
                axios.get('/api/match/' + this.week)
                    .then((response) => {
                        this.teams = response.data.teams;
                        this.matchResults = response.data.matchResults;
                        this.week++;
                    });
            },
        }
    }
</script>

<style scoped>

</style>